
/*Estilo do tipo container criado para a página inicial*/
.container {
    width: 13%; /* largura da div em %*/
    height: 700px; /* altura da div*/
    background-color: seagreen; /* cor de fundo */
    border: 5px solid black; /* borda */
    border-radius: 10px; /* bordas arredondadas */
    padding: 20px; /* espaço interno */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* sombra */
    text-align: center; /* alinhamento do texto */
    font-family: Arial, sans-serif; /* fonte do texto */
    color: white /* cor do texto */
}

/*Estilo para personalizar os links*/
a {
    text-decoration: none; /* Remove o sublinhado */
    color: black /* Muda a cor do texto clicável*/
}

/*Estilo para personalizar o div aonde se encontra o titulo principal do site*/
div.first {
    width: 98%; /* largura da div */
    height: 5%; /* altura da div */
    background-color: seagreen; /* cor de fundo */
    border: 7px solid black; /* borda */
    border-radius: 10px; /* bordas arredondadas */
    padding: 10px; /* espaço interno */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* sombra */
    text-align: center; /* alinhamento do texto */
    font-family: Times New Roman; /* fonte do texto */
    color: white; /* cor do texto */
    font-size: 180%; /* tamanho do texto */
}

/*Estilo para personalizar um tipo de div*/
div.second {
    background-color: beige; /* cor de fundo */
    border: 5px solid black; /* borda sólida */
    border-radius: 10px; /* bordas arredondadas */
    padding: 5px; /* espaço interno */
    margin-bottom: 15px; /* espaço entre as divs filhas */
    color: black /* cor do texto */
}

div.second:hover {
    transform: scale(1.1); /* Aumenta o tamanho da div em 10% quando o mouse passa sobre ela */
    opacity: 0.8; /* Diminui a opacidade da div para 80% ao passar o mouse sobre ela */
    border-color: black; /* Muda a cor da borda ao passar o mouse sobre ela */
}


div.third {
    border-radius: 10px; /* bordas arredondadas */
    background-color: beige;
    width: 40%;
    border: 3px solid black;
    position: absolute; /* Define o posicionamento absoluto da imagem */
    float: right; /* Define a imagem para flutuar à direita */
    margin-left: 445px; /* Define a margem à esquerda para afastar o conteúdo do texto */
    margin-top: -180px; /* Define a margem superior para mover a imagem para cima */
    font-size: 180%; /* tamanho do texto */
    text-align: center; /* alinhamento do texto */
    font-family: Times New Roman; /* fonte do texto */
    font-weight: bold; /* Define o texto em negrito */
}

img {
    border: 7px solid black; /* borda */
    border-radius: 10px; /* bordas arredondadas */
    width: 45%;
    height: 50%;
    border: 1px solid black;
    position: absolute; /* Define o posicionamento absoluto da imagem */
    float: right; /* Define a imagem para flutuar à direita */
    margin-left: 400px; /* Define a margem à esquerda para afastar o conteúdo do texto */
    margin-top: -700px; /* Define a margem superior para mover a imagem para cima */
}

   /* Estilos para personalizar o body todo da página*/
   body {
    background-color: whitesmoke; /* Define a cor de fundo para todo o corpo */
}