<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">

<div class="contacts-container">

    <!--Header div-->
    <div class="header">
        
        <h1 class="title">Contacts</h1>
        <p>Need to get in touch with us? Whether you have a question, feedback, or just want to say hello, we're here to help. Feel free to reach out to us via email or phone.
        We look forward to hearing from you!</p>
  
    </div>

    <!-- Contacts info div -->
    <div class="contact-info">
        <h2 class="title-2">Contact Information</h2>
        <p><b>Email:</b> museumportal&#64;gmail.com</p>
        <p><b>Phone:</b> (+355) 253 888 967</p>
    </div>

    <!-- Location div -->
    <div class="office-location">
        <h2 class="title-2">Office Location</h2>
        <p><b>City/Country:</b> Braga, Portugal</p>
        <p><b>Street:</b> Rua dos Lesionados, nº39</p>
    </div>

    <!-- Social Media div-->
    <div class="social-media">
        <h2 class="title-2">Connect With Us</h2>
        <ul>
            <li><i class="fab fa-facebook-f">:&nbsp;   </i><a href="https://www.facebook.com/">&#64;museumportal</a></li>
            <li><i class="fab fa-twitter">:&nbsp;   </i><a href="https://x.com/">&#64;museumportal</a></li>
            <li><i class="fab fa-instagram">:&nbsp;   </i><a href="https://www.instagram.com/">&#64;museumportal</a></li>
        </ul>
    </div>
</div>