<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">

<div class="contacts-container">

    <!--Header div-->
    <div class="header">
        
        <h1 class="title">Contacts</h1>
        <p>Need to get in touch with us? Whether you have a question, feedback, or just want to say hello, we're here to help. Feel free to reach out to us via email or phone.
        We look forward to hearing from you!</p>
  
    </div>

    <!-- Contacts -->
    <div class="contact-info">
        <h2>Contact Information</h2>
        <p>Email: museumportal&#64;gmail.com</p>
        <p>Phone: +1 (123) 456-7890</p>
    </div>

    <!-- Location -->
    <div class="office-location">
        <h2>Office Location</h2>
        <p>123 Museum Street, City, Country</p>
    </div>

    <!-- Social Media -->
    <div class="social-media">
        <h2>Connect With Us</h2>
        <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Instagram</a></li>
        </ul>
    </div>

</div>