<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />

<div id="bg-04">

    <!--Main div that will contain others-->
    <div class="main-04">

        <!--Icon div-->
        <div class="iconDiv-04">

            <!-- Clickable icon that takes the user to the home page -->
            <a (click)="navigateToHome()">
                <img src="../../assets/images/museuIcon.jpg" class="icon-04" alt="Logo" />
            </a>

        </div>

        <!-- Form div -->
        <div class="formDiv-04">

            <span class="poppins-regular greetings-04">
                <b>Welcome!</b>
            </span>

            <!--Div with input box for user email-->
            <div class="input-box-04">
                <span class="material-symbols-outlined">person</span>
                <input
                    class="poppins-regular input-04"
                    type="text"
                    id="email-04"
                    placeholder="Email"
                />
            </div>

            <!--Div with input box for user password-->
            <div class="input-box-04">
                <span class="material-symbols-outlined">lock</span>
                <input
                    class="poppins-regular input-04"
                    type="password"
                    id="password-04"
                    placeholder="Password"
                />
            </div>
            
            <!--Login button-->
            <button class="poppins-regular button-04" (click)="loginUser()"> Login</button>

            <!--Text that take user to regist page-->
            <span class="poppins-regular linknote-04"> Not registered? <a class="linkhover" (click)="navigateToRegist()">Create</a></span>

        </div>
    </div>
</div>