
@if (item) {
    <div class="w-100 top-image" style="background-image: url('{{item.imagesrc}}');" id="div-top-image">
        <div class="language-option">
            <img src="../../assets/images/flags/us.svg" alt="English" onclick="alert('teste')">
        </div>
        <div class="row">
            <div class="top-image-text">
              <h1>{{item.title}}</h1>
              <h2>{{item.subtitle}}</h2>
            </div>
          </div>
    </div>

    <div class="container content" id="content">
        <h3>Description</h3>
        <p [innerHTML]="item.description"></p>
    </div>

    <hr>
    
    <div class="container content" id="works">
        <h3>Catalog</h3>
        <div class="row">
            @for(w of works; track w){
                @if (w.museum == item.id){
                    <div class="col-2" (click)="openModalWork(w.id)">                        
                        <div class="square">
                            <div class="square-content pointer" style="background-image: url('{{w.imagesrc}}');" [title]="w.title">
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    <div class="modal fade" id="workModal" tabindex="-1" aria-labelledby="workModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fw-bold" id="workModalLabel">{{workTitle}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">                    
                    <div class="row">
                        <div class="col-5 text-center">
                            <img [src]="workImageSrc" class="img-fluid" [alt]="workTitle">
                        </div>
                        <div class="col-7">
                            <p><b>Artist:</b> {{workArtist}}</p>
                            <p><b>Description:</b> {{workDescription}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    
    <div class="container content" id="audios">
        <h3>Audios</h3>
        <div class="row">
            @for(a of audios; track a){
                @if (a.museum == item.id){
                    <div class="col-1" (click)="openModalAudio(a.id)">                        
                        <div class="square">
                            <div class="square-content pointer" [title]="a.title">
                                <i class="bi bi-volume-up-fill"></i>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    <div class="modal fade" id="audioModal" tabindex="-1" aria-labelledby="audioModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fw-bold" id="audioModalLabel">{{audioTitle}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">                    
                    <div class="row">
                        <audio controls [innerHTML]="audioSrc"></audio> 
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p><b>Transcript:</b> <span [innerHTML]="audioTranscript"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    
    <div class="container content" id="videos">
        <h3>Videos</h3>
        <div class="row">
            @for(v of videos; track v){
                @if (v.museum == item.id){
                    <div class="col-2" (click)="openModalVideo(v.id)">                        
                        <div class="square">
                            <div class="square-content pointer" style="background-image: url('{{v.thumbnail}}');" [title]="v.title">
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fw-bold" id="videoModalLabel">{{videoTitle}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">                    
                    <div class="row">
                        <video controls [innerHTML]="videoSrc"></video> 
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p><b>Description:</b> <span [innerHTML]="videoDescription"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="container-fluid content-special" id="content">
        <div class="row">
            <div class="col-6">
                <h3>Schedule</h3>
            </div>
            <div class="col-6">
                <h3>Address</h3>
                <div id="map" style="height: 400px; width: 100%;"></div>
            </div>
        </div>
    </div>
}
@else {    
    <div class="language-option">
        <img src="../../assets/images/flags/us.svg" alt="English" onclick="alert('teste')">
    </div>
    <div class="container-fluid p-5 text-center content" style="height: 86.3%;">
        <h1>Something went wrong</h1>
        <p>We couldn't load the page you were looking for.</p> 
        <p>Please return to the home page and try again.</p> 
    </div>
}