<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">

<div class="about-us-container">

    <!--Header div-->
    <div class="header">

      <h1 class="title">About Us</h1>
      <p>Welcome to Museum Portal, your gateway to exploring the world's most renowned museums from the comfort of your home. We provide a unique and comprehensive online platform dedicated
       to connecting you with the finest museums across all continents, allowing you to embark on virtual journeys through history, art, and culture.</p>

    </div>

    <!--Who we are div-->
    <div class="mission">

        <h1 class="title-2">Who we are?</h1>
        <p>Museum Portal is your premier destination for exploring a rich and diverse collection of museums from every corner of the world. We offer a unique virtual journey that immerses 
        you in the captivating realms of history, art, and culture. Our mission is to inspire and educate individuals of all ages by providing access to the unparalleled treasures housed in
        the world's most renowned museums. Whether you are a passionate art connoisseur, a devoted history enthusiast, or a curious explorer, Museum Portal is designed to deepen your 
        understanding and spark your curiosity.</p>

    </div>

    <!--Team members div-->
    <div class="team">

      <h1 class="title-2">Our Team</h1>
      <br>

      <div class="team-member">
        <img src="../../assets/images/Costa.png" alt="Team Member Photo">
        <h3>Gonçalo Costa</h3>
        <p>Developer</p>
      </div>

      <div class="team-member founder">
        <img src="../../assets/images/Pedro.png" alt="Team Member Photo">
        <h3>Pedro Rei</h3>
        <p>Founder & Director</p>
      </div>

      <div class="team-member">
        <img src="../../assets/images/Diogo.png" alt="Team Member Photo">
        <h3>Diogo Fernandes</h3>
        <p>Developer</p>
      </div>

    </div>