<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">

<div class="about-us-container">

   
    <div class="header">

      <h1 class="title">Sobre Nós</h1>
      <p>Bem-vindo ao Portal do Museu, seu gateway para explorar os museus mais renomados do mundo, tudo isso do conforto da sua casa. Oferecemos uma plataforma online única e abrangente dedicada a conectar você com os melhores museus de todos os continentes, permitindo que você embarque em jornadas virtuais pela história, arte e cultura.</p>

    </div>

  
    <div class="mission">

        <h1 class="title-2">Quem Somos?</h1>
        <p>O Portal do Museu é seu destino principal para explorar uma coleção rica e diversificada de museus de todos os cantos do mundo. Oferecemos uma jornada virtual única que mergulha você nos cativantes reinos da história, arte e cultura. Nossa missão é inspirar e educar pessoas de todas as idades, proporcionando acesso aos tesouros incomparáveis abrigados nos museus mais renomados do mundo. Se você é um apaixonado por arte, um entusiasta dedicado da história ou um explorador curioso, o Portal do Museu é projetado para aprofundar seu entendimento e despertar sua curiosidade.</p>

    </div>

    <div class="team">

      <h1 class="title-2">Nossa Equipe</h1>
      <br>

      <div class="team-member">
        <img src="../../../assets/images/Costa.png" alt="Foto do Membro da Equipe">
        <h3>Gonçalo Costa</h3>
        <p>Desenvolvedor</p>
      </div>

      <div class="team-member founder">
        <img src="../../../assets/images/Pedro.png" alt="Foto do Membro da Equipe">
        <h3>Pedro Rei</h3>
        <p>Fundador e Diretor</p>
      </div>

      <div class="team-member">
        <img src="../../../assets/images/Diogo.png" alt="Foto do Membro da Equipe">
        <h3>Diogo Fernandes</h3>
        <p>Desenvolvedor</p>
      </div>

    </div>
</div>
