<div class="contacts-container">
    <h1 class="title">Página de Suporte</h1>
    <br>

    <div class="header">
        <p>Bem-vindo à nossa página de suporte. Aqui você pode encontrar várias maneiras de entrar em contato conosco e obter a assistência de que precisa. Estamos aqui para ajudá-lo com quaisquer problemas ou perguntas que você possa ter.</p>
    </div>

    <div class="question-form">
        <h2 class="title">Envie-nos uma Pergunta</h2>
        <form action="#" method="post">
            <label for="name">Nome</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>

            <label for="question">Sua Pergunta</label>
            <textarea id="question" name="question" rows="6" required></textarea>

            <button type="submit">Enviar</button>
        </form>
    </div>
</div>
