<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">

<div class="contacts-container">


    <div class="header">
        
        <h1 class="title">Contatos</h1>
        <p>Precisa entrar em contato conosco? Se você tiver alguma dúvida, feedback ou simplesmente quiser dizer olá, estamos aqui para ajudar. Sinta-se à vontade para nos contatar por e-mail ou telefone.
        Estamos ansiosos para ouvir você!</p>
  
    </div>


    <div class="contact-info">
        <h2 class="title-2">Informações de Contato</h2>
        <p><b>Email:</b> museumportal&#64;gmail.com</p>
        <p><b>Telefone:</b> (+355) 253 888 967</p>
    </div>

    <div class="office-location">
        <h2 class="title-2">Localização do Escritório</h2>
        <p><b>Cidade/País:</b> Braga, Portugal</p>
        <p><b>Rua:</b> Rua dos Lesionados, nº39</p>
    </div>


    <div class="social-media">
        <h2 class="title-2">Conecte-se Conosco</h2>
        <ul>
            <li><i class="fab fa-facebook-f">:&nbsp;   </i><a href="https://www.facebook.com/">&#64;museumportal</a></li>
            <li><i class="fab fa-twitter">:&nbsp;   </i><a href="https://x.com/">&#64;museumportal</a></li>
            <li><i class="fab fa-instagram">:&nbsp;   </i><a href="https://www.instagram.com/">&#64;museumportal</a></li>
        </ul>
    </div>
</div>
